# Environment variables set everywhere
#export EDITOR="nvim"
#export TERMINAL="st"
#export BROWSER="brave"

# For QT Themes
#export QT_QPA_PLATFORMTHEME=qt5ct

#xbansih &

#xautolock -time 1 -locker "systemctl suspend" -detectsleep &

# zsh config dir
#export ZDOTDIR=$HOME/.config/zsh

dwmblocks &
